$TTL 86400
{% set current_nameserver = nameservers | selectattr('name', 'equalto', inventory_hostname_short) | first %}

@   IN  SOA     {{ current_nameserver.name }}.{{ current_nameserver.zone }}. admin.{{ current_nameserver.zone }}. (
        {{ "%Y%m%d%H" | strftime }}01 ; Serial
        3600       ; Refresh
        1800       ; Retry
        1209600    ; Expire
        86400 )    ; Minimum TTL

; Define Name Servers
{% for ns in nameservers %}
@   IN  NS	{{ ns.name }}.{{ ns.zone }}.
{% endfor %}

; Name Server IPs
{% for ns in nameservers %}
{{ ns.name }}	IN	A	{{ ns.ip_address }}
{% endfor %}

; DNS Records
{% for record in dns_records | rejectattr('type', 'equalto', 'PTR') | rejectattr('type', 'equalto', 'ptr') %}
{{ record.host }}   IN	{{ record.type }}	{{ record.ip_address }}
{% endfor %}
