scripts/bash/cloudinit/devserver.yaml
ref.yaml
docker/git-tea/data
data/
docker/bind-dns/cache
docker/bind-dns/records
docker/config
docker/jellyfin/config
scripts/bash/cloudinit/user.yaml
terraform/vars.tf
terraform/terraform.tfstate
**terraform.tfstate
**terraform.tfstate.backup
**user.yml
**userdev.yml
terraform/providers/**
scripts/bash/old.sh
terraform/.terraform**
terraform/id_rsa.pub*
terraform/vars.tf**
