*/**cert.yaml
**trahan-dev-cert.yaml
**/*cert.yaml
**cert.yaml
ansible/playbooks/initial_dev_config/vars.yml
ansible/playbooks/postgres/.env
python/__pycache__/
python/dns-venv/
python/dns_parser.log
python/test.yaml
python/testy.yaml
python/vars.yaml
python/yamltest.yaml
python/zone.txt
ansible/playbooks/initial_dev_config/devops_vars.yml
scripts/bash/renew_certs.sh
terraform/scratch_vms/.terraform/
**/*vault.yml
**/*vault.yaml
**/vault.yml
**/vault.yaml
**app.log
**/venv**
scripts/bash/cloudinit/devserver.yaml
ref.yaml
docker/git-tea/data
data/
docker/bind-dns/cache
docker/bind-dns/records
docker/config
docker/jellyfin/config
scripts/bash/cloudinit/user.yaml
terraform/vars.tf
terraform/terraform.tfstate
**terraform.tfstate
**terraform.tfstate.backup
**user.yml
**userdev.yml
terraform/providers/**
scripts/bash/old.sh
terraform/.terraform**
terraform/id_rsa.pub*
**.tfvars
**credentials.tfvars
**.backup
**vault.yml
terraform/proxmox/**.terraform
terraform/proxmox1/.terraform.lock.hcl
terraform/proxmox1/.terraform/
scripts/bash/cloudinit/devserver.yaml
scripts/bash/debian.sh
terraform/k3s/id_rsa.pub
**id_rsa
**.backup
**.tfstate
**.terraform/**
terraform/postgres/.terraform/**
**.terraform.lock.hcl
**99-mydata.cfg
terraform/tailscale_router/.terraform/**
terraform/postgres/postgres.conf copy.tpl
terraform/postgres/postgres.conf.tpl
terraform/tailscale_router/cloud-init-lxc.tpl
terraform/postgres/.terraform.lock.hcl
terraform/k3s/.terraform/**
ansible/playbooks/k3s/roles/**
terraform/proxmox_backup_server/**
kubernetes/certs.sh
hetzner/cloudinit.yml
